Repository rslint/rslint, pull requests merged in 2020-11, with the labels that each got.

#67 User Documentation link corrected
  README.md
Labels: A-docs

#66 Add benchmarks and CI setup for publishing results
  .github/workflows/bench.yml
  Cargo.lock
  crates/rslint_core/CHANGELOG.md
  crates/rslint_core/Cargo.toml
  crates/rslint_core/benches/bench.rs
  crates/rslint_lexer/CHANGELOG.md
  crates/rslint_parser/CHANGELOG.MD
  crates/rslint_parser/Cargo.toml
  crates/rslint_parser/benches/files/es2021.js
  crates/rslint_parser/benches/parser.rs
Labels: C-enhancement, T-Lexer, T-Parser, T-Runner

#73 New directives parser
  crates/rslint_config/src/lib.rs
  crates/rslint_core/src/directives/commands.rs
  crates/rslint_core/src/directives/lexer.rs
  crates/rslint_core/src/directives/mod.rs
  crates/rslint_core/src/directives/parser.rs
  crates/rslint_core/src/lib.rs
  crates/rslint_lsp/src/core/document.rs
  crates/rslint_lsp/src/lsp/api.rs
  crates/rslint_lsp/src/lsp/server.rs
  crates/rslint_lsp/src/provider/completion.rs
  crates/rslint_lsp/src/provider/diagnostics.rs
  crates/rslint_lsp/src/provider/hover.rs
  crates/rslint_lsp/src/provider/mod.rs
  crates/rslint_lsp/src/service/synchronizer.rs
  crates/rslint_parser/src/lib.rs
  crates/rslint_parser/src/numbers.rs
Labels: C-enhancement, T-LSP, T-Runner
