Repository rslint/rslint, pull requests merged in 2020-10, with the labels that each got.

#17 Fix infinite recursion in arg list
  rslint_parser/src/syntax/expr.rs
  rslint_parser/test_data/inline/err/invalid_arg_list.js
  rslint_parser/test_data/inline/err/invalid_arg_list.rast
Labels: A-error-recovery, T-Parser

#13 Feat: add use-isnan
  docs/rules/errors/README.md
  docs/rules/errors/use-isnan.md
  rslint_core/src/groups/errors/mod.rs
  rslint_core/src/groups/errors/use_isnan.rs
Labels: T-Runner, enhancement

#25 Throw an error if no matching files are found
  rslint_cli/src/lib.rs
Labels: T-CLI, hacktoberfest-accepted

#42 Lock stderr before writing to it
  crates/rslint_cli/CHANGELOG.md
  crates/rslint_cli/src/panic_hook.rs
Labels: T-CLI

#43 Feat: add shebang handling to lexer and parser
  Cargo.lock
  crates/rslint_lexer/CHANGELOG.md
  crates/rslint_lexer/src/lib.rs
  crates/rslint_lexer/src/tests.rs
  crates/rslint_parser/CHANGELOG.MD
  crates/rslint_parser/src/ast/generated/nodes.rs
  crates/rslint_parser/src/syntax/program.rs
  crates/rslint_syntax/src/generated.rs
  xtask/src/ast.rs
  xtask/src/codegen/syntax.rs
Labels: T-Lexer, T-Parser

#51 Fix broken links in docs
  docs/dev/syntax.md
  docs/user/config.md
Labels: A-docs

#45 Feat: Add autofix
  Cargo.lock
  crates/rslint_cli/Cargo.toml
  crates/rslint_cli/src/files.rs
  crates/rslint_cli/src/lib.rs
  crates/rslint_cli/src/main.rs
  crates/rslint_core/Cargo.toml
  crates/rslint_core/src/autofix/apply.rs
  crates/rslint_core/src/autofix/mod.rs
  crates/rslint_core/src/groups/errors/no_compare_neg_zero.rs
  crates/rslint_core/src/groups/errors/no_extra_semi.rs
  crates/rslint_core/src/groups/errors/no_new_symbol.rs
  crates/rslint_core/src/groups/errors/no_unsafe_negation.rs
  crates/rslint_core/src/lib.rs
  crates/rslint_core/src/rule.rs
  crates/rslint_core/src/rule_prelude.rs
  crates/rslint_core/src/testing.rs
  crates/rslint_errors/CHANGELOG.md
  crates/rslint_errors/src/file.rs
  crates/rslint_lsp/src/provider/diagnostics.rs
  crates/rslint_parser/src/lib.rs
  crates/rslint_parser/src/syntax/decl.rs
  crates/rslint_parser/src/syntax/program.rs
  crates/rslint_parser/src/syntax/stmt.rs
  docs/SUMMARY.md
  docs/user/autofix.md
Labels: C-enhancement, T-CLI, T-Parser, T-Runner

#56 Improve config error reporting
  crates/rslint_cli/src/config.rs
  crates/rslint_cli/src/files.rs
  crates/rslint_cli/src/lib.rs
  crates/rslint_errors/src/emit.rs
Labels: A-errors, C-enhancement, T-CLI

#59 Better test262 runner
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/coverage/files.rs
  xtask/src/coverage/mod.rs
  xtask/src/coverage/tablegen.rs
  xtask/src/main.rs
Labels: C-enhancement, T-Parser

#61 Fix some parser bugs
  crates/rslint_parser/src/state.rs
  crates/rslint_parser/src/syntax/decl.rs
  crates/rslint_parser/src/syntax/expr.rs
  crates/rslint_parser/src/syntax/pat.rs
  crates/rslint_parser/src/syntax/stmt.rs
  crates/rslint_parser/test_data/inline/err/class_decl_err.js
  crates/rslint_parser/test_data/inline/err/class_decl_err.rast
  crates/rslint_parser/test_data/inline/err/function_decl_err.js
  crates/rslint_parser/test_data/inline/err/function_decl_err.rast
  crates/rslint_parser/test_data/inline/err/switch_stmt_err.rast
  crates/rslint_parser/test_data/inline/err/while_stmt_err.rast
Labels: A-error-recovery, T-Parser

#62 Developer flags
  crates/rslint_cli/CHANGELOG.md
  crates/rslint_cli/src/lib.rs
  crates/rslint_cli/src/main.rs
  crates/rslint_parser/src/parser.rs
  crates/rslint_parser/src/token_source.rs
Labels: C-enhancement, T-CLI

#64 Rewrite Config module
  Cargo.lock
  crates/rslint_cli/src/lib.rs
  crates/rslint_cli/src/main.rs
  crates/rslint_config/Cargo.toml
  crates/rslint_config/src/de.rs
  crates/rslint_config/src/lib.rs
Labels: T-Config
